<div class="container well" style="background: white;">
  <div class="wrapper" style="background: white;">

    <div id="homepage-header">
      <p>Innovation Policy Simulation for the Smart Economy (IPSE)</p>
    </div>

    <div id="header_logos" class="row">
      <div id="logos" class="span8">
        <section id='content_logos'>
          <%=raw @page.content_for(:logos) %>
        </section>
      </div>
      <div id="more_logos" class="span4">
        <div class="well">
          <section id='content_more_logos'>
            <%=raw @page.content_for(:more_logos) %>
          </section>
        </div>
      </div>
    </div>

    <div id="motto" class="row">
      <div class="span12">
        <section id='content_motto'>
          <%=raw @page.content_for(:motto) %>
        </section>
      </div>
    </div>

    <div id="banner" class="hero-unit">
      <div id="content" class="row">
        <div id="intro" class="span5 offset1">
          <h2>Innovation Policy Simulation for the Smart Economy (IPSE)</h2>
          <section id='content_banner'>
            <%=raw @page.content_for(:body) %>
          </section>
          <p><a class="btn primary large">Learn more &raquo;</a></p>
        </div>
        <div id="carousel" class="span4">
          <!-- Carousel -->
          <div id="Gallery" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item"><img alt="" src="/assets/carousel_tree.png"></div>
              <div class="item"><img alt="" src="/assets/carousel_lcf.png"></div>
              <div class="item"><img alt="" src="/assets/carousel_population.png"></div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#Gallery" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#Gallery" data-slide="next">&rsaquo;</a>
          </div> <!-- Carousel -->
        </div>
      </div>
    </div>

    <div id="doormats" class="row">
      <div id="menu" class="span3 well">
        <!-- Doormat  menu -->
        <ul class="nav nav-list">
          <li class="nav-header"><a href="#">PEOPLE</a></li>
          <li class="nav-header"><a href="#">WORKSHOPS</a></li>
          <li class="nav-header"><a href="#">LECTURES</a></li>
          <li class="divider"></li>
          <% if signed_in_member? %>
          <li class="nav-header"><%= link_to "MEMBERS",  '#' %></li>
          <li class="nav-header"><%= link_to "ACCOUNT",  '#' %></li>
          <li><%= link_to "Profile",  main_app.member_path(current_member) %></li>
          <li><%= link_to "Settings", main_app.edit_member_path(current_member) %></li>
          <li class="divider"></li>
          <li><%= link_to "Sign out", main_app.signout_path, method: "delete" %></li>
          <% else %>
          <li><%= link_to "Sign in", main_app.signin_path %></li>
          <% end %>
          <li class="divider"></li>
          <p>Follow us on</p>
          <!-- Social icons -->
          <div class="social_icons">
            <a href="http://www.facebook.com/pages/IPSE/383610961706781"  target="_top">
              <img alt="Like us on Facebook" src="/assets/social_facebook.png">
            </a>
            <a href="http://twitter.com/#!/IPSE_IRU" " target="_top">
              <img alt="Follow us on Twitter" src="/assets/social_twitter.png">
            </a>
            <a href="http://www.linkedin.com/groups/Innovation-Policy-Simulation-Smart-Economy-4515718?gid=4515718&trk=hb_side_g" " target="_top">
              <img alt="Follow us on LinkedIn" src="/assets/social_linkedin.png">
            </a>
          </div> <!-- Social icons -->
        </ul> <!-- Doormat menu -->
      </div>

      <div id="work" class="span3 well">
        <!-- Doormat work -->
        <ul class="nav nav-list">
          <li class="nav-header">WORK PACKAGES</li>
          <li class="divider"></li>
          <li><h4><a href="#">&raquo; IRU's Computational Policy Lab</a></h4></li>
          <li class="divider"></li>
          <li><h4><a href="#">&raquo; Sectoral and Geographical Aspects of Innovation</a></h4></li>
          <li class="divider"></li>
          <li><h4><a href="#">&raquo; Firm Level Innovation and Entrepreneurship</a></h4></li><hl>
        </ul> <!-- Doormat work -->
      </div>
      </div>
    </div>

    <div id="homepage-footer">
      <p>Innovation Policy Simulation for the Smart Economy (IPSE)</p>
    </div>

  </div>
</div>